#include <windows.h>
#include <commctrl.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// Icon and manifest

IDI_APPICON             ICON            "clipwiz.ico"
IDI_WINBADGE            ICON            "windows.ico"
1                       RT_MANIFEST     "app.manifest"

// Per-row content type icons (light / dark theme variants)
IDI_TYPE_TEXT_LIGHT     ICON            "../res/icon-text-light.ico"
IDI_TYPE_TEXT_DARK      ICON            "../res/icon-text-dark.ico"
IDI_TYPE_RTF_LIGHT      ICON            "../res/icon-rtf-light.ico"
IDI_TYPE_RTF_DARK       ICON            "../res/icon-rtf-dark.ico"
IDI_TYPE_HTML_LIGHT     ICON            "../res/icon-html-light.ico"
IDI_TYPE_HTML_DARK      ICON            "../res/icon-html-dark.ico"
IDI_TYPE_IMAGE_LIGHT    ICON            "../res/icon-image-light.ico"
IDI_TYPE_IMAGE_DARK     ICON            "../res/icon-image-dark.ico"
IDI_TYPE_FILE_LIGHT     ICON            "../res/icon-file-light.ico"
IDI_TYPE_FILE_DARK      ICON            "../res/icon-file-dark.ico"

/////////////////////////////////////////////////////////////////////////////
// Built-in language pack (compiled from lang/zh-CN.lng)

IDR_LNG_ZHCN            RCDATA          "../lang/zh-CN.lng"

/////////////////////////////////////////////////////////////////////////////
// Version information

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,2,0,0
 PRODUCTVERSION 1,2,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName",      "ClipWiz"
            VALUE "FileDescription",  "ClipWiz - lightweight clipboard history tool"
            VALUE "FileVersion",      "1.2.0.0"
            VALUE "InternalName",     "clipwiz"
            VALUE "LegalCopyright",   "ClipWiz"
            VALUE "OriginalFilename", "clipwiz.exe"
            VALUE "ProductName",      "ClipWiz"
            VALUE "ProductVersion",   "1.2.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
